<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>365906131724-ip15e3cv482bgvj7ccf11p9stkerkf8j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.365906131724-ip15e3cv482bgvj7ccf11p9stkerkf8j</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>365906131724-j9u07bmgdrp9b661kihd3it9pp3fuhvs.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCaVCZdyl43T24i19KHaZnjUUME8R3kHKY</string>
	<key>GCM_SENDER_ID</key>
	<string>365906131724</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatBlocApp</string>
	<key>PROJECT_ID</key>
	<string>chat-bloc-app</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-bloc-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:365906131724:ios:681afd26e0d458d9c12729</string>
</dict>
</plist>